<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Unusable2Usable</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link"  href="/">Home</a>
          <a class="nav-link" href="/items">All Items</a>
          <a class="nav-link" href="/items/new">Add Item</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currentUser) {%>
          <a class="nav-link"  href="/login">LogIn</a>
          <a class="nav-link"  href="/register1">Register</a>
          <% }else {%>
          <a class="nav-link"  href="/logout">LogOut</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>