<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unusable2Usable</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Unusable2Usable</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="">Home</a>
                    <a class="nav-link" href="/items">Items</a>
                    <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register1">Register</a>
                    <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>Unusable2Usable</h1>
            <br><br>
            <p class="lead mx-5"> Welcome Users! <br><br> Welcome to Unusable2Usable, where unusable items find new purpose! Sell your unwanted belongings and give others the chance to transform them into treasures. Discover a wide array of unique, repurposable items from our vibrant community. Our user-friendly interface ensures a seamless experience, with secure transactions and buyer/seller protection. Join us in promoting sustainability by reducing waste and embracing creativity. Unleash your imagination as you explore limitless possibilities. Find hidden gems and breathe new life into forgotten objects. Together, we can make a difference, one upcycled creation at a time. Join Unusable2Usable today and be part of a community that celebrates the power of transformation</p>
            <br><br><a href="/items" class="btn btn-lg btn-secondary font-weight-bold border-white">View
                Items</a>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2023 </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>