<%= layout('./layout/boilerplate') %>
<h1>Please enter new Password !</h1>
    <form action="/changePassword" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="pin" class="form-label">PIN</label>
            <input type="text" name="pin" id="pin" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="text" name="newPassword" id="newPassword" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="confirmPassword" name="confirmPassword" id="confirmPassword" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success btn-lg">changePassword</button>
        <!-- <a href="/forgotpassword" class="mx-auto btn btn-primary btn-sm">forgotpassword</a> -->
        
    </form>