<%= layout('./layout/boilerplate') %>
<h1>Register</h1>
    <form action="/register" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="pin" class="form-label">Email Verification Pin</label>
            <input type="pin" name="pin" id="pin" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label ">Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success" id="submit">Register</button>

    </form>